* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Inter-Regular", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
#bg { 
	width: 100%;
	background: url("../Assets/spot\ light.jpg") no-repeat;
	background-size: cover;
	padding: 0 0 64px 0;
}

#bg section.wrapper { 

}

#bg header { 
	display: flex;
	justify-content: space-between;
	padding: 28px;
}

#bg header h1 { 

}

#bg header h1 a { 

}

#bg header h1 a img { 
	display: block;
	width: 189px;
	
	
}

#bg header nav.left { 
	
}

#bg header nav.left ul { 
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
	
}

#bg header nav.left ul li { 
	margin-left: 20px;
	margin-top: 12px;
	
}

#bg header nav.left ul li a { 
	color: #fff;
	font-size: 18px;
	align-items: center;
}
#bg header nav.left ul li:first-child {
	margin-left: 0;
}
#bg header nav.right { 
	display: flex;
	align-items: center;
}

#bg header nav.right a { 
	color: #fff;
	font-size: 18px;
	display: block;
}
#bg header nav.right a:last-child{
	margin-right: 10px;
	margin-left: 28px;
}

#bg header nav.right a.button { 
	border: 1px;
	color: #000;
	background: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	display:inline-block;
	font-weight: 600;
	
}

#bg section.tab { 
	width: 100%;
	padding: 80px 60px;
	text-align: center;
}

#bg section.tab div.top { 
	width: 58%;
	margin: 0 auto;
}

#bg section.tab div.top h1 { 
	color: #fff;
	font-size: 57px;
	font-weight: 700;
}

#bg section.tab div.top p { 
	color: #60625d;
	margin-top: 89px;
	font-size: 15px;
	width: 86%;
    margin: 89px auto 95px;
}
#bg section.tab div.top div.center{
	position: relative;
}
#bg section.tab div.top div.center div.btn { 
	background: #A6FF34 ;
	padding: 20px 38px;
	border-radius: 30px ;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
	margin: 0 auto 180px;
}
#bg section.tab div.top div.center a.button { 
	font-weight: 700;
	font-size: 20px;
	display: block;
	margin-right: 6px;
}

#bg section.tab div.top div.center div.btn img.fire { 
  display: block;
	
}

#bg section.tab div.top div.center img.arrowtxt { 
	display: block;
	position: absolute;
	top: -55px;
    left: 444px;
	width: 115px;
}

#bg section.tab div.bottom { 

}

#bg section.tab div.bottom ul { 
	display: flex;
	margin: 50px;
}
#bg section.tab div.bottom ul li {
	width: 25%;
	position: relative;
 }
#bg section.tab div.bottom ul li img {
	width: 100%;
	display: block;
	height: 78px;
 }
 #bg section.tab div.bottom ul li div {
	width: 250px;
	
 }
#bg section.tab div.bottom ul li div.one { 
	transform: rotate(-15deg);
    position: absolute;
	top: -55px;
    right: -123px;
}
#bg section.tab div.bottom ul li div.two { 
	position: absolute;
    top: -8px;
    right: -37px;
}
 section.tab div.bottom ul li div.three { 
	transform: rotate(-5deg);
    position: absolute;
    top: -66px;
    right: 20px;
}
#bg section.tab div.bottom ul li div.four { 
	transform: rotate(4deg);
	position: absolute;
    top: -8px;
    right: 38px;
}
#spotlight { 
	width:100%;
	background: #A6FF34;
	padding: 96px 0;
	border-top: 2px solid #fff;
}

#spotlight section.wrapper { 

}

#spotlight div.title { 
	text-align: center;
}

#spotlight div.title h1 { 
	font-size: 53px;
	font-weight: 700;
}

#spotlight section.container { 
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 55px 40px;
	position: relative;
}


#spotlight section.container div.center { 
	
    margin: 0 auto;
    background: #fff;
    padding: 37px 0px 37px 71px;
    width: 38%;
    border-radius: 16px;
}
	
#spotlight section.container div.center a { 
	
}

#spotlight section.container div.center a img { 
	display: block;
	width: 292px;
}

#spotlight section.container  div.left { 
	transform: scaleX(-1);
	position: absolute;
	left: 247px;
    top: 77px;
}

#spotlight section.container  div.left img { 
	filter: invert(1);
	display: block;
}

#spotlight section.container  div.right { 
    position: absolute;
	right: 247px;
    top: 79px;
}

#spotlight section.container  div.right img { 
	filter: invert(1);
	display: block;
}

#spotlight section.footer { 

}

#spotlight section.footer div.bottom { 
	width: 100%;
	text-align: center;
	
}

#spotlight section.footer div.bottom p { 
	color: #60625d;
	font-size: 14px;
	margin-top: 30px;
}
#main { 
	padding: 70px;
	width: 100%;
}

#main section.wrapper { 

}

#main div.content { 

}

#main div.content h1 { 
	font-weight: 600;
	font-size: 55px;
}

#main div.content h1 b { 
	color: #60625d;
	font-weight: 600;
}

#main div.grow { 
	width: 100%;
	padding: 50px;
	
	
}

#main div.grow h1 { 
	font-size: 58px;
	font-weight: 600;
	margin-top: 100px;
}

#main div.gallery { 
	width: 100%;
}
#main div.gallery ul { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#main div.gallery ul li { 
	width: 25%;
	padding: 23px 13px 0;
}

#main div.gallery ul li img { 
	width: 100%;
    background: rgb(245, 245, 245);
    padding: 24px 42px;
    border-radius: 11px;
    display: block;
}
#platform { 
	width: 100%;
	padding: 60px;
	background: rgb(245, 245, 245);
}

#platform section.wrapper { 

}

#platform div.trend { 
	width: 100%;
	padding: 30px;
	text-align: center;
	
}

#platform div.trend h1 { 
	font-size: 57px;
	font-weight: 700;
}

#platform div.logos { 
	display: flex;
	justify-content: space-between;
}

#platform div.logos ul { 
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

#platform div.logos ul li { 
	width: 141px;
}

#platform div.logos ul li a { 
	
}

#platform div.logos ul li a img { 
	width: 100px;
	background: #fff;
	padding: 20px;
	border-radius: 9px;
	display: block;
}
#platform div.logos ul li a img:hover{
	background: #A6FF34;
}

#platform section.social { 
	padding: 60px;
}

#platform section.social div.network { 
	align-items: center;
	padding: 30px 70px;
	margin: 0 auto;
	max-width: 80%;
	
}

#platform section.social div.network img { 
	display: block;
	width: 100%;
	margin-bottom: 13px;
}

#platform div.button { 
	margin: 0 auto;
	width: 124px;
}

#platform div.button a { 
	border: 1px;
	background: #000;
	color: #E8E8E8;
	padding: 20px 48px;
	border-radius: 30px;
	
}
#service { 
	width: 100%;
	padding: 60px;
	background: #000;
}

#service section.wrapper { 

}

#service div.deal { 
	text-align: center;
}

#service div.deal h1 { 
	color: #E8E8E8;
	font-size: 50px;
	font-weight: 600;
}

#service div.switch { 
	margin: 46px 358px;
	position: relative;

}

#service div.switch ul { 
	display: flex;
    align-items: center;
	margin-left: 40px;
	

}

#service div.switch ul li { 
	padding: 7px;
}
#service div.switch ul li img{
	display: block;
	width: 100px;
	position: absolute;
	top: 0;
	right: -26px;

}

#service div.switch ul li h6 { 
	color: #E8E8E8;
}
#service div.switch ul li h6 b {
	color: #60625d;
}
#service div.switch ul li div.white {
	height: 46px;
    width: 96px;
    background: #fff;
    border-radius: 25px;
	display: flex;
	align-items: center;
}
#service div.switch ul li div.white div.green {
	background: #A6FF34;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    margin-left: 8px;
}

#service section.wrapper div.personal { 

}

#service section.wrapper div.personal ul { 
	display: flex;
	justify-content: space-between;
	width: 90%;
    margin: 0 auto;
}

#service section.wrapper div.personal ul li { 
	width: 30.33%;
	background: #fff;
	text-align: left;
	padding: 24px 24px 32px;
	border-radius: 10px;
}
#service section.wrapper div.personal ul li:hover {
	background: #A6FF34;
}
#service section.wrapper div.personal ul li:hover a.button {
	background: #000;
	color: #FFF;
}
#service section.wrapper div.personal ul li h3.pesonal { 
	font-size: 32px;
	font-weight: 700;
}

#service section.wrapper div.personal ul li h5 { 
	font-size: 18px;
    margin: 10px 0;
}

#service section.wrapper div.personal ul li hr.line { 
	border-bottom: 1px solid #000;
}

#service section.wrapper div.personal ul li div.flex { 
	display: flex;
	align-items: baseline;
}
#service section.wrapper div.personal ul li div.flex.align { 
	display: flex;
	align-items: center;
	margin-bottom: 13px;
}
#service section.wrapper div.personal ul li div.flex.align span.tick {
	display: inline-block;
	margin-right: 10px;
	width: 20px;
}
#service section.wrapper div.personal ul li div.flex.align h3 {
	font-size: 14px;
}
#service section.wrapper div.personal ul li div.flex.align img {
	display: block;
	width: 100%;
}
#service section.wrapper div.personal ul li  a.button {
	background: #A6FF34;
    font-weight: 700;
    font-size: 16px;
    display: block;
    border-radius: 24px;
    margin: 112px auto 0;
    width: 61%;
    text-align: center;
    padding: 8px 0;

}
#service section.wrapper div.personal ul li div.flex h2 { 
	font-size: 56px;
	font-weight: 800;
	margin: 10px 30px 30px 0;
}

#service section.wrapper div.personal ul li div.flex span.month { 
}